body {
    font-family: 'Klee One', cursive;
}

header {
    position: relative;
    top: 30px;
    left: 30px;
    width: 900px;
    height: 200px;
    background-image: url(../design1_image1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
 header>h1 {
    position: relative;
/*     margin-left: 10px;
 */    display: inline-block;
    color: rgb(0, 0, 0);
    bottom: 65px;
    
} 

.bajoheader {
    width: 900px;
    height: 50px;
    background-color: black;
    position: relative;
    left: 30px;
}

.bajoheader>h2 {
    color: aliceblue;
    margin-left: 300px;
}




.link {
    display: inline-block;
    position: relative;
    bottom: 285px;
    left: 570px;
    margin: 30px;
    
}
.link>a {

    color: rgb(255, 255, 255);
    text-decoration: none;
}

.verde {
 display: inline-block;
 background-color: rgb(60, 167, 87);
 width: 100px;
 color: rgb(255, 255, 255);
 text-align: center;
 box-shadow: 5px 5px 5px rgb(94, 94, 94); 
 
}

.azul {
    display: inline-block;
    background-color: rgb(0, 89, 255);
    width: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 5px 5px 5px rgb(94, 94, 94); 
    
}



.prueba {
    width: 70px;
    display: inline;
    margin: 20px;
 

}

article {
    position: relative;
    width: 400px;
    translate: -250px;
    top: 250px;
}

article>h2 {
    font-size: 18px;
    color:black;
}

#logo {
    margin-top: 100px;
    margin-left: 30px;

}

.fecha {
    color: rgb(0, 0, 0);
}



a {
    color: aliceblue;
text-decoration: none;
}

/* .bbi {
    display: inline-block;
 background-color: rgb(60, 167, 87);
 width: 100px;
 color: rgb(255, 255, 255);
 text-align: center;
 box-shadow: 5px 5px 5px rgb(94, 94, 94); 
} */

.mail {
    color: blue;
}

/* h1 {
    display: inline;
position: relative;
bottom: 100;
} */